@page
@model PRN221_ASSIGNMENT.Pages.AdminPanel.IndexModel
@{
}

<div style="width:50%;margin:auto;text-align:center">
    <h2 style="text-align:center">Welcome Admin!</h2>
    <a href="/Schedule/Add" style="">Admin panel</a>
    <br />
    <a href="#">View timetable</a>
</div>