@page
@model PRN221_ASSIGNMENT.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<div style="width:50%;margin:auto;text-align:center">
    <h2 style="text-align:center">Welcome!</h2>
    <a href="/Schedule/" style="">Admin panel</a>
    <br />
    <a href="#">View timetable</a>
</div>
