@page
@model PRN221_ASSIGNMENT.Pages.Schedule.AddModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<h1>Add schedule here!</h1>

<div>
    <h2>Import from CSV:</h2>
    <form method="post" >
        <input type="file" name="CSVfile" asp-for="CSVfile" />
        <br />
        <input type="submit" value="Import" />
    </form>
</div>
<div>
    <p>or</p>
    <button>
        <a style="font-weight:bold;font-size:25px;text-decoration:none;color:black" href="#">Add manually</a>
    </button>
</div>


