@page
@model PRN221_ASSIGNMENT.Pages.Schedule.IndexModel
@{
}

<div>
    <h1>Select add method</h1>
    <a href="/Schedule/AddCSV">Add by CSV</a>
    <a href="/Schedule/AddManually">Add by form</a>
</div>
