@page
@model PRN221_ASSIGNMENT.Pages.Schedule.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<div>
    <h1>Select add method</h1>
    <a href="/Schedule/AddCSV">Add by CSV</a>
    <a href="/Schedule/AddManually">Add by form</a>
    <a href="/Schedule/View" >View</a>
</div>
